#nav {
    position: fixed; /* Change from sticky to fixed */
    top: 0;
    width: 100%;
    z-index: 10; 
}

.navbar a {
    color:  white;
}
.navbar a:hover {
    color:  white;
}
.dropdown a {
    color: rgb(255, 255, 255);
}
.dropdown-menu a , .dropdown-menu a:hover{
    color: rgb(0, 0, 0);
}
.d-flex button {
    margin-left: 20px;
}
.nav-item{
    cursor: pointer;
}
#login {
   position: absolute;
   top: 10vh; 
   background-color: rgb(214, 214, 214);
   width: 100%;
   height: 90vh;
   opacity: 0.3;
     
}

/* footer css start */
.footercontainer{
    width: 100%;
    height: 50vh;
}
/* footer css end */


.carousel-item , img {
    height: 650px; 
}
.carousel-btn{
   
        width: 150px;
        height: 50px;
        margin-left: 40px;
        border: none;
        border-radius: 10px;
        background-color: #faca22;
      
}
.carousel-caption {
  
    position: absolute;
    top: 13vh;
    left: 1vw;
}
.carousel-caption h2 ,.carousel-caption p {
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: white;
}
.home-btn{
  display: flex;

}
.main{
    position: absolute;
    left: 200px;
    top: 100px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    width: 500px;
}
.main h2{
    color: white;
}
.main span {
    color: #faca22;
}
.home-btn button {
  
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #faca22;
   
}
.home-btn  a{
    text-decoration: none;
    color: rgb(2, 29, 43);
    font-weight: 700;
}
.home-btn p a {
    margin: 10px;
    color: rgb(188, 188, 234);
    text-decoration:underline;
   
}




  